<a href="https://colab.research.google.com/github/psahu1110/Assignemt-4/blob/main/Assignment_14_(Q2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# predicting turbine energy yield (TEY) using ambient variables as features.

IMPORTING THE LIBRARIES

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout

READING THE DATASET

In [ ]:
df = pd.read_csv(r"C:\Users\Sujal Sahu\Downloads\gas_turbines.csv")

EDA

In [ ]:
df.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311

In [ ]:
df.tail()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [ ]:
df.shape

(15039, 11)

In [ ]:
df.describe()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
count,15039.000000,15039.00000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000
mean,17.764381,1013.19924,79.124174,4.200294,25.419061,1083.798770,545.396183,134.188464,12.102353,1.972499,68.190934
std,7.574323,6.41076,13.793439,0.760197,4.173916,16.527806,7.866803,15.829717,1.103196,2.222206,10.470586
min,0.522300,985.85000,30.344000,2.087400,17.878000,1000.800000,512.450000,100.170000,9.904400,0.000388,27.765000
25%,11.408000,1008.90000,69.750000,3.723900,23.294000,1079.600000,542.170000,127.985000,11.622000,0.858055,61.303500
50%,18.186000,1012.80000,82.266000,4.186200,25.082000,1088.700000,549.890000,133.780000,12.025000,1.390200,66.601000
75%,23.862500,1016.90000,90.043500,4.550900,27.184000,1096.000000,550.060000,140.895000,12.578000,2.160400,73.935500
max,34.929000,1034.20000,100.200000,7.610600,37.402000,1100.800000,550.610000,174.610000,15.081000,44.103000,119.890000

In [ ]:
data=pd.DataFrame(df)
data

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
15034,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.5186,79.559
15035,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.8470,79.917
15036,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.9632,90.912
15037,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.2494,93.227
15038,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.9816,92.498

In [ ]:
bins=[1,10,20]

In [ ]:
groups=["low","high"]

In [ ]:
data1["sales"]=pd.cut(data1.Sales,bins,labels=groups)
data1

In [ ]:
df['TEY'].value_counts()

133.74    150
133.78    148
133.67    143
133.76    142
133.79    127
         ...
144.49      1
122.83      1
146.05      1
113.91      1
130.43      1
Name: TEY, Length: 4207, dtype: int64

In [ ]:
df.info()

PREPROCESSING THE DATA

In [ ]:
X = df.drop(columns=['TEY'])
Y = df['TEY']

In [ ]:
X

In [ ]:
Y

SPLITTING THE DATASET INTO TRAIN AND TEST SETS

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

BUILDING THE MODEL

In [ ]:
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

COMPILING THE MODEL

In [ ]:
model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

TRAINING THE MODEL

In [ ]:
model.fit(X_train, Y_train, epochs=150, batch_size=9)

Epoch 1/150
1337/1337 [==============================] - 5s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 2/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 3/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 4/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 5/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2473 - mean_absolute_error: 133.2473
Epoch 6/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 7/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 8/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 9/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 10/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 11/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 12/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 13/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 14/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 15/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 16/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 17/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 18/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 19/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 20/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 21/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 22/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 23/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 24/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 25/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 26/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 27/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 28/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 29/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 30/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 31/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 32/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 33/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 34/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2469 - mean_absolute_error: 133.2469
Epoch 35/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 36/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 37/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 38/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2469 - mean_absolute_error: 133.2469
Epoch 39/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 40/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 41/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 42/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2473 - mean_absolute_error: 133.2473
Epoch 43/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 44/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 45/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 46/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 47/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 48/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 49/150
1337/1337 [==============================] - 3s 2ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 50/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 51/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 52/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 53/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 54/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 55/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 56/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 57/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2473 - mean_absolute_error: 133.2473
Epoch 58/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 59/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 60/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 61/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 62/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 63/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 64/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2469 - mean_absolute_error: 133.2469
Epoch 65/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 66/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 67/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 68/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 69/150

1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 70/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 71/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 72/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 73/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 74/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 75/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 76/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 77/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2469 - mean_absolute_error: 133.2469
Epoch 78/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 79/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 80/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 81/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 82/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 83/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 84/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 85/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 86/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 87/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 88/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 89/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 90/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 91/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 92/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 93/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 94/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 95/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 96/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 97/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 98/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 99/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 100/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 101/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 102/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 103/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 104/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 105/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 106/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 107/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 108/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 109/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 110/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 111/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 112/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2469 - mean_absolute_error: 133.2469
Epoch 113/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 114/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 115/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 116/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 117/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 118/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 119/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 120/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 121/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 122/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 123/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 124/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 125/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 126/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 127/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 128/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 129/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 130/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 131/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2472 - mean_absolute_error: 133.2472
Epoch 132/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 133/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 134/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 135/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 136/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 137/150

1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 138/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 139/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 140/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 141/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 142/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 143/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 144/150
1337/1337 [==============================] - 5s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 145/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 146/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 147/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 148/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2470 - mean_absolute_error: 133.2470
Epoch 149/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471
Epoch 150/150
1337/1337 [==============================] - 4s 3ms/step - loss: 133.2471 - mean_absolute_error: 133.2471

EVALUATING THE MODEL

In [ ]:
score = model.evaluate(X_test, Y_test, batch_size=9)

335/335 [==============================] - 1s 2ms/step - loss: 132.9540 - mean_absolute_error: 132.9540